

.a_tbdr{
  border:1px solid red;
}
header{
  height: 150px;
  background-color: green;
  text-align: center;
  color:#fff;
}
main{
  min-height: 600px;
  background-color: beige;
}
footer{
  height: 200px;
  background-color: green;
  text-align: center;
  color:#fff;
}